.header {
    .header__wrap {
        display: flex;
        align-items: center;
        padding: 20px 0;
        background-color: $w;
        width: 100%;
        justify-content: space-between;
        .header__menu {
            display: flex;
            align-items: center;
            gap: 60px;
            justify-content: space-between;
            .header__menuItem {
                @include text('Open Sans', 14px, 500, $green-173616);
            }
        }
        .header__search {
            border: 1px solid $green-173616;
            border-radius: 100px;
            padding: 3px 14px;
            &:hover {
                background: rgba(132, 132, 132, 0.40);
            }
            button {
                border: none;
                background-color:transparent;
                i {
                    font-size: 14px;
                    color: $green-rgb;
                }
            }
            input {
                border: none;
                background-color:transparent;
                outline: none;
            }
            input::-webkit-input-placeholder {
                @include text('Open Sans', 14px, 400, $green-173616);
                opacity: 0.7;
            }
        }
        .header__btns {
            display: flex;
            align-items: center;
            gap: 10px;
            [class^="header__btn"] {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 43px;
                height: 43px;
                border-radius: 10px;
                border: 1px solid rgba(48, 79, 24, 0.5);
            }
        }
    }
}